{% extends 'blogs/layout.html' %}
{% block content %}
    <h1>This is the Homepage</h1>
    <ul>
        {% for post in posts %}
            <li> <a href="{% url 'blogs:post' post.id %}">{{post.title}}</a></li>   
        {% endfor %}
    </ul>
    <ul>
        {% for user in users %}
            <li>{{user.username}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'blogs:create'%}">Add Post</a>
    <a href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:index'%}">All Users</a>
{% endblock content %}